// the main user's profile
header.main-profile {
  height: 400px;
  width: 100%;

  @include f-justify($j: center);
  flex-direction: column;
  align-items: center;
  background-color: $sub-color;
  background-image: url("/images/45-degree-fabric-dark.png");
}

