
#tweets-container {
  width: 100%;

  display: flex;
  flex-direction: column-reverse;
}

.tweet-content:hover {
  transition-duration: 0.5s;
  box-shadow: 5px 10px #26465380;
}

article.tweet-content {
  width: 95%;
  border-style: solid;
  padding: .5em;
  border-width: 3px;
  margin: .5em;
  margin-bottom: 1em;
  background-color: #2646530D;

  display: flex;
  align-self: center;
  flex-direction: column;

  p {
    padding: 1em;
    border-bottom: 2px solid $main-color;
  }
}

header.user {
  font-weight: 300;

  @include f-justify;
  align-items: flex-end;

  .user-profile {
    display: flex;
    align-items: center;
  }

  .user-avatars {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
  }

  .userhandle {
    font-weight: 600;
    font-size: 20px;
  
    color: #26465366;
  }
}

footer {
  font-size: 16px;
  margin-left: 1rem;
  margin-right: 1rem;

  @include f-justify;

  .icons {
    @include f-justify($j: flex-end);
  }

  a {
    margin: 5px;
  }

  i {
    margin: 5px;
    color: $main-color;
  }
  
  i:hover {
    color: $highlight;
  }
}

