article.tweet-content {
  width: 90%;
  border-style: solid;
  padding: .5em;
  border-width: 3px;
  margin: .5em;
  margin-bottom: 1em;

  display: flex;
  align-self: center;
  flex-direction: column;
}

.tweet-content:hover {
  transition-duration: 0.5s;
  box-shadow: 5px 10px #4056A180;
}

article p {
  padding: 1em;
  border-bottom: 2px solid black;
}

header.user {
  font-weight: 300;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-avatars {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.userhandle {
  font-weight: 600;
  font-size: 20px;

  color: #4056A166;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

footer.d-and-i {
  font-size: 16px;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
}

i {
  padding: 2px;
  color: #4056A1;
}

i:hover {
  color: goldenrod;
}